.gilda-display-regular {
  font-family: "Gilda Display", serif;
  font-weight: 400;
  font-style: normal;
}

.mate-regular {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: normal;
}

.mate-regular-italic {
  font-family: "Mate", serif;
  font-weight: 400;
  font-style: italic;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #001021;
  cursor: url("cursor.svg"),auto;
}

* {
  box-sizing: border-box;
}

.div1 {
  height: 100%;
  width: 50%;
  padding: 100px;
  text-align: left;
  vertical-align: left;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 30px;
  min-width: 520px;
  max-width: 720px;
}

.div2 {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  gap: 20px;
  min-width: 320px;
  max-width: 720px;
}

.title{
  color: #EBF1FC;
  font-family: "Gilda Display";
  font-size: 24px;
  line-height: 120%;
  margin: 0px;
}

.text{
  color: #EBF1FC;
  font-family: "Mate";
  font-style: normal;
  font-size: 18px;
  line-height: 120%;
  margin: 0px;
  gap: 10px;
}

.colophon{
  color: #EBF1FC;
  font-family: "Mate";
  font-style: italic;
  font-size: 12px;
  line-height: 120%;
  margin: 0px;
}

a:link {
  color: #EBF1FC;
}
a:visited {
    color: #EBF1FC;
}
a:hover {
  color: #5DFDCB !important;
  cursor: url("cursor-link.svg"),auto;
}
/* a.link1:hover:after {
  top: 400px;
  left: 1600px;
  content: url(images/KathaTamil.png);
  zoom: 25%;
  position: absolute;
  z-index:-1;
} */